MappingVODML.aux
MappingVODML.html
MappingVODML.log
MappingVODML.out
MappingVODML.pdf
MappingVODML.toc
MappingVODML.fls
ivoatexmeta.tex
MappingVODML.fdb_latexmk

## vi
*~
*.swp

## Output folder
output
/.idea/
